/*
css frontend
*/

.index {
  background-color: white;
  width: 100vw;
  height: 95vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.index .container {
  width: 100vw;
  height: 91vh;
  overflow-x: auto;
  margin-bottom: 2px;
}


