<%- include('../views/partials/head') %>
<%- include('../views/partials/header' ) %>
  <div class="img-bg"></div>
  <%- include('../views/partials/svgcode') %>
  <section class="container">
    

  </section>  
<%- include('../views/partials/footer') %>
