<svg width="100%" height="3" xmlns="http://www.w3.org/2000/svg">
  <rect width="100%" height="2" x="0" y="0" />
</svg>
<div class="login-painel">
  <h1>Login</h1>
  <form action="/entrar" method="POST" class="form" id="form" class="form-login">
    <input type="text" name="userName" id="userName" placeholder="Usuário" required>
    <input type="password" name="password" id="password" placeholder="Senha" required>
    <input type="hidden" value="<%= csrfToken %>" name="_csrf" class="_csrf">
    <button type="submit" id="btn-submit" class="btn" data-title="Logar no sistema">Logar</button>
  </form>
</div>
<svg width="100%" height="3" xmlns="http://www.w3.org/2000/svg">
  <rect width="100%" height="2" x="0" y="0" />
</svg>