<%- include('../views/partials/head') %>
<%- include('../views/partials/header') %>

  <section class="container">
    <p class="user-registered"> Usuário <%= userName %> cadastrado com sucesso</p>
  </section>  

<%- include('../views/partials/footer') %>