<div class="btns-div-calendario">
  <button id="btn-calendario-close" data-title="Fechar o calendário">Ocultar</button>
  <button id="btn-calendario-update" data-title="Atualizar um evento">Editar</button>
  <button id="btn-calendario-save" data-title="Salvar modificações" disabled>Salvar</button>
  <button id="btn-calendario-delete" data-title="Deletar o evento">Apagar</button>
</div>