  <footer class="footer">
    <p>
      Copyright &#169 @DDC23 2022
    </p>
  </footer>
<meta name="author" content="Diógenes Dornelles Costa"/>
<meta name="keywords" content="contactbook, webapp, html, node, webpack, babel, javascript, mongoDB">
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</body>
</html>