<p>Registrar novo contato</p>
<form action="" method="get" class="form-new-contact">
  <input type="hidden" value="<%=csrfToken%>" name="_csrf" class="_csrf">
  <input type="text" name="name" id="contact-name" placeholder="Nome" required pattern="[A-Za-zÀ-ú0-9 ]*">
  <input type="text" name="surname" id="contact-surname" placeholder="Sobrenome" required pattern="[A-Za-zÀ-ú0-9 ]*">
  <input type="email" name="email" id="contact-email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
  <input type="tel" name="phone" id="contact-phone" placeholder="Telefone xxxxxxxxxxx" required pattern="[0-9]{11}">
  <input type="date" name="birthday" id="contact-birthday" placeholder="Data de nascimento" required>
  <div class="gender-option">
    <label for="gender-male">Gênero masculino</label><input type="radio" name="gender" id="contact-gender-male" value="masculino" checked>
    <label for="gender-female">Gênero feminino</label><input type="radio" name="gender" id="contact-gender-female" value="feminino">
  </div>
  <input type="text" name="cpf" id="contact-cpf" placeholder="CPF" pattern="[0-9]{11}" required inputmode="number" minlength="11" maxlength="11" autocomplete="off">
  <div class="btns-insert">
    <button id="btn-send" data-title="Submeter formulário">Enviar</button>
    <button id="btn-close" data-title="Fechar painel">Fechar</button>
  </div>
</form>