<dialog class="schedule-contact">
  <h2>Registrar evento</h2>
  <section id="container-dialog-schedule">
    <form action="" method="get" class="form-schedule-contact">
      Nome: <input type="text" id="schedule-name" readonly>
      Sobrenome: <input type="text" id="schedule-surname" readonly>
      <textarea name="message" id="title-event" cols="30" rows="10" placeholder="Descrição" required></textarea>
      <% const date = new Date().toISOString().slice(0,10); %> 
      Data: <input type="date" id="date" placeholder="Data" required min="<%=date%>">
      Hora inicial: <input type="time" name="timestart" id="timestart" required min="09:00" max="18:00" step="1800">
      Hora Final: <input type="time" name="timeend" id="timeend" required min="09:00" max="18:00" step="1800">
      Tipo: 
      <select id="event-options">
        <option value="prioridade-01">Prioridade 01</option>
        <option value="prioridade-02">Prioridade 02</option>
        <option value="prioridade-03">Prioridade 03</option>
        <option value="prioridade-04">Prioridade 04</option>
      </select>
      <div class="btns-dialog">
        <button id="dialog-btn-send-schedule" data-title="Agendar um serviço">Agendar</button>
        <button id="dialog-btn-close-schedule" data-title="Fechar painel">Fechar</button>
      </div>
    </form>
  </section>
</dialog>