<p>AGENDA</p>
<div class="search-inputs">
  <div class="search-option">
    <label for="option-search-name">Busca por nome:</label><input type="radio" name="optionsearch" id="option-search-name" checked>
    <label for="option-search-cpf"> Busca por CPF:</label><input type="radio" name="optionsearch" id="option-search-cpf" >
  </div>
  <input type="search" name="search" id="text-search" placeholder="Digite aqui">
</div>
<div class="btns-div-search">
  <button id="btn-search" data-title="Encontrar um contato">Buscar</button>
  <button id="btn-insert" data-title="Inserir um contato novo" ><a href="#form-insert-new-person">Inserir contato</a></button>
  <button id="btn-clear" data-title="Limpar campos">Limpar</button>
  <button id="btn-load" data-title="Recarregar lista">Carregar lista</button>
</div>